body{
    margin-top: 30px;
    background-color: #EAEEE4;
    color: #EAEEE4;
    font-family: 'Happy Monkey', cursive;
}

.main-container{
    width: 650px;
    margin: auto;
}

.title-container{
    background-color: #534C4E;
}

.title{
    font-size: 1.0em;
    font-family: 'Share Tech Mono', monospace; 
    padding-left: 5%;
    padding-top: 2%;
}

#toggle-online{
    margin-left: 60px;
}

#online{
    display: none;
    overflow: hidden;
}

#toggle-offline{
    margin-left: 60px;
}

#offline{
    display: none;
    overflow: hidden;
}

.toggle{
    background-color: #DDDDE3;
    margin: 6px 0px 6px 0px;
    color:#534C4E;
    cursor: pointer;
}

.channel{
    height: 80px;
    background-color: #435577;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.channel-details{
    margin-top: 25px;
}

.photo{
    border: 1px solide white;
    border-radius: 50%;
    height: 60px;
}

.img-div{
    margin-top: 10px;
}
